.taskListDiv{
    width: 300px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 3px gray;
    padding: 15px;
    cursor: pointer;
}

.taskListDiv h1{
    font-size: 18px;
    color: rgb(44, 42, 42);
}

.taskListDiv p{
    font-size: 13px;
    text-align: left;
    color: rgb(44, 42, 42);
    padding-bottom: 8px;
    text-overflow: clip;
    line-height: 1.3rem;
}

      
.taskListDiv .taskHeader{
    overflow:scroll;
}

.taskFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 5px;
    color: rgb(44, 42, 42);
    font-size: 10px;
    color: gray;
    border-top: 1px solid rgb(214, 210, 210);
}

.taskStatus{
  padding: 5px 15px;
  background-color: yellow;
  border-radius: 20px;
  color: black;
}

@media screen and (max-width: 600px) {
    .taskListDiv{
        width: 100%;
    }
}